@media screen and (max-width: 700px){

header .container{
    display: flex;
    
    flex-direction: inherit;
}

.botao{
    margin-top: 5px;
    width: 250px;
    height: 50px;
}



.dropdown li:hover ul {
    display:block;
    cursor: pointer;
    
    
}



.menu-barras{
    visibility:hidden;
    
}
.menu-dropdown{
    display: none;
}


}@media screen and (min-width:700px){
    .descricao{
        width: 40%;
    }

    .menu-dropdown{
        display: none;
    }
    
   

    header .container i{
        visibility: hidden;
    }
    .menu{
        visibility: hidden;
    }
    

}